<p>
  <b>Name:</b>
  <%=h @author.name %>
</p>

<table>
  <tr>
    <th>Rating</th>
    <th>Body</th>
  </tr>

<% @author.posts.each do |post| %>
  <tr>
    <td><%=h post.rating %></td>
    <td><%=h post.body %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
