<%= form_tag ('/retrieve_posts') %>

  <table>
    <tr>
      <td>Feed URL:</td>
      <td><%= text_field_tag 'feed'-%></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= text_field_tag 'email'-%></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= password_field_tag 'password'-%></td>
    </tr>
  </table>
  
  <div><%= submit_tag 'Analyze' %></div>

